.container {
    margin-top: 2%;
}

.sub-items {
    margin-bottom: 40px;
}

.sub-items:last-child {
    margin-bottom: 0;
}

.sub-items div {
    margin-bottom: 10px;
}

.sub-items div:last-child {
    margin-bottom: 0;
}

.records-plain-text {
    margin: 20px!important;
}

.records-menu {
    margin: 10px 3px!important;
}

.records-table tbody tr:last-child td {
    border: 0!important;
}

.accordion {
    margin-top: 0!important;
}